---
layout: default
---

Checkout the following collection of Coronavirus simulations - more to come!

<div class="post">
  <h1><a href="/intro">5/18/2020: Intro to Simulations</a></h1>
  This post introduces the SIR model and SEIR model, and how we can model the spread of disease
  with viral particles.
</div>

<div class="post">
  <h1><a href="/shopping_solo">5/15/2020: Shopping Solo</a></h1>
  How does a household with a single shopper policy compare to a household with two shoppers?
</div>

<div class="post">
  <h1><a href="/shopping_with_masks">5/22/2020: Shopping With Masks</a></h1>
  Why should I shop with a mask on?  What % of people do we need to shop with a mask?
</div>

You can subscribe to updates by following me on twitter:
<a href="https://twitter.com/jinpan20?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @jinpan20</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
